body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*background:url(http://www.goct.ca/tv-calendar/images/textures/binding_dark.png) repeat 0 0;*/
	background: #3a77b6; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #3a77b6 0%, #53ca96 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3a77b6), color-stop(100%,#53ca96)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #3a77b6 0%,#53ca96 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #3a77b6 0%,#53ca96 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #3a77b6 0%,#53ca96 100%); /* IE10+ */
	background: linear-gradient(135deg,  #3a77b6 0%,#53ca96 100%); /* W3C */
	background:url(http://www.goct.ca/tv-calendar/images/textures/wood_1.png);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a77b6', endColorstr='#53ca96',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h3.tracked {
	background: red;
	color: black;
}

h3, form {
	margin:0px;
}

h2 {
	margin-top:0px;
}

h1 {
	margin-top:0px;
}

p {
	margin-bottom:0px;
}

input {
	margin:0px;
	padding-left:4px;
}

input:not([type=button]):not([type=submit]) {
	border-radius:3px;
	zoom:1.4;
	border-color: rgb(165, 190, 235);
	border-width: 1px;
}

#user-info-divs {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:100px;
	width:500px;
	/*background-color:#ffffff;*/
	margin-top: 10px;
	margin-bottom: 35px;
}

#login-div, #register-div {
	background:url(http://www.goct.ca/tv-calendar/images/textures/loginfade.png) repeat 0 0;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid rgb(45, 116, 150);
	-webkit-box-shadow: 0px 3px 5px #291E46;
	box-shadow: 0px 3px 5px #291E46;
}

#login-div {
	display: none;
	position: absolute;
	top: 0px;
	left: 5px;
	padding-bottom: 4px;
	width: 213px;
}

#register-div {
	display: none;
	position: absolute;
	top: 0px;
	left: 262px;
	width: 213px;
}

#login-password {
	width: 99px;
	position: relative;
	margin-top: 3px;
	left: -24px;
}

#remember-me {
	position: relative;
	top: 4px;
}

label[for=remember-me] {
	position: relative;
	top: 2px;
}

#register-div p {
	margin-top: 0px;
	margin-bottom: 2px;
}

#register-div form {
	position: relative;
	top: -5px;
}

#register-password {
	position: relative;
	margin-top: 3px;
	width: 90;
	left: -30px;
}

#tracked-shows, #track-more-shows-div {
	position:relative;
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 335px;
	text-align: center;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	background:url(http://www.goct.ca/tv-calendar/images/textures/tallfade.png) repeat 0 0;
	border: 1px solid #118696;
	-moz-box-shadow: 0px 3px 5px #291E46;
	-webkit-box-shadow: 0px 3px 5px #291E46;
	box-shadow: 0px 3px 5px #291E46;
	/*background:url(http://www.goct.ca/tv-calendar/images/textures/light_wool.png) repeat 0 0;*/
}
/*
#track-more-shows-div {
	display: none;
}
*/

.track-show-checkbox {
	position: relative;
	top: 2px;
	left: 6px;
}

#add-new-show {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 239px;
	text-align: center;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 4px;
	background:url(http://www.goct.ca/tv-calendar/images/textures/fade.png) repeat 0 0;
}

#logged-in-username {
	color: #000000;
	position: absolute;
	left: 20px;
	top: -8px;
	font-weight: bold;
}

#log-out-button {
	position:absolute;
	top: 2px;
	left: 320px;
}

#track-more-shows {
	position: absolute;
	left: 127px;
	top: 2px;
}

#user-controls {
	display: none;
	position: relative;background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(170,170,170,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	/*background:url(http://www.goct.ca/tv-calendar/images/textures/fade.png) repeat 0 0;*/
	background-color: #005BFF;
	top: -8px;
	left: 0px;
	width: 530px;
	height:35px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: auto;
	margin-left: auto;
}

#airing-shows-div {
	width:530px;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
}

.future-episodes-day {
	width: 500px;
	border-radius: 5px;
	/*
	margin-right: auto;
	margin-left: auto;
	*/
	text-align: center;
	padding: 14px;
	margin-bottom: 15px;
	background: rgb(170,170,170); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(170,170,170,1) 0%, rgba(234,234,234,1) 75%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(170,170,170,1)), color-stop(75%,rgba(234,234,234,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(170,170,170,1) 0%,rgba(234,234,234,1) 75%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(170,170,170,1) 0%,rgba(234,234,234,1) 75%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(170,170,170,1) 0%,rgba(234,234,234,1) 75%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(170,170,170,1) 0%,rgba(234,234,234,1) 75%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	/*border: 1px solid #000000;*/
	border: 1px solid #000;
	-moz-box-shadow: 0px 3px 5px #291E46;
	-webkit-box-shadow: 0px 3px 5px #291E46;
	box-shadow: 0px 3px 5px #291E46;
}

#add-new-show {
	display: none;
}

#login-button {
	/*background-color: #239FD5;*/
	left: 110;
	top: 29px;
}

#register-button {
	left: 96;
	top: 37px;
}

#next-scrape-timer {
	color:#cccccc;
}


.button {
	border: 1px solid rgb(57, 137, 175);
	border-radius: 6px;
	zoom: 1.4;
	position: absolute;

	background: black;
	color: white;
	border: 1px solid #000000;
}

.button:hover {
	background: #d2e6f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #d2e6f9 0%, #a9ccf4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2e6f9), color-stop(100%,#a9ccf4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d2e6f9 0%,#a9ccf4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d2e6f9 0%,#a9ccf4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d2e6f9 0%,#a9ccf4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d2e6f9 0%,#a9ccf4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e6f9', endColorstr='#a9ccf4',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	cursor: hand;
}

.button:active {
	background: #000000;
}

.remove-show-table {
	position: relative;
	top: 2px;
}

#track-selected-shows-button {
	margin-left:auto;
	margin-right:auto;
	top:5px;
	position:relative;
}

#latest-nzbs-div {
	position:absolute;
	left:-5px;
	top:25px;
}

#mark-rss-as-read1 {
	position: absolute;
	/*top: 12px;
	left: 12px;*/
	display:none;
}

#rss {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 300px;
}

.item-link {
	text-decoration:none;
}

.series-list {
	padding-left: 0px;
	list-style: none;
}

.ui-accordion-content {
	white-space: nowrap;
}

li{
    margin-top: 1em;
}

li:first-child {
    margin-top:0;
}

.download-link {
	margin-right:0.5em;
}

.switch {
  position: relative;
  left: 538px;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background: #c4bb61;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}
